h1, h2, h3, h4, h5, h6, p, a, a:visited, li, input, select, textarea {
  background: transparent;
  color: white;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h1, h2, h3, p, input, select, textarea {
  margin-bottom: 1.5rem;
}