@import 'loaders';
@import 'normalize';
@import 'typography';

body {
  background: orchid;
  padding: 10rem 2rem 0;
  min-height: 100vh;
  text-align: center;
}

.loading-cover {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in;
  width: 100%;
  z-index: 1;
  &.hide {
    opacity: 0;
    transform: translateY(-100%);
  }
  .loading-error {
    color: red;
    margin: 0;
  }
}

.app {
  width: 100%;    
}

.logout {
  right: 1rem;
  position: absolute;
  top: 1rem;
}

img {
  max-width: 100%;
  &.icon {
    max-height: 1rem;
  }
}

input {
  border: 2px solid white;
  padding: 0.5rem;
}

input:active, input:focus {
  border-color: skyblue;
  outline: none;
}

.new-learn-form {
  input[type='text'] {
    max-width: 28rem;
    width: 80%;
  }
  input[type='submit']:active, input[type='submit']:hover {
    background: skyblue;
    cursor: pointer;
  }
}

.learns {
  text-align: left;
}