<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Today I Learned</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="favicon" href="favicon.ico">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
      <h1 class="app-name">Today I Learned</h1>
      <div class="loading-cover"><div class="loader"></div><p class="loading-error">&nbsp;</p></div>
      
      <div id="app" class="app">
        <div v-if="user.uid">
          <a class="logout" href="#" v-on:click="signOut">Logout</a>

          <new-learn-form :new-learn-text="newLearnText" :status="status" :user-uid="user.uid"></new-learn-form>

          <div class="learns">
            <h2>My Learns</h2>
            <ul class="learns-list">
              <li v-for="learn in learnsList" :key="learn['.key']">
                {{ learn.learnText }}
                <a href="#">
                  <img class="icon" src="images/edit.svg">
                </a>
                <a href="#" v-on:click="removeLearn(learn, $event)">
                  <img class="icon" src="images/delete.svg">
                </a>
                <p>created at:{{ new Date(learn.createdAt * 1000).toLocaleString() }}</p>
              </li>
            </ul>
          </div><!-- .learns -->
        </div>

        <div v-if="!user.uid">
          <a href="#" v-on:click="signIn">Login with Twitter</a>
        </div>
      </div><!-- .app -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="js/bundle/all.js"></script>
  </body>
</html>
